<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="common/head :: head">
    </head>


    <body class="layout-top-nav" style="height: auto;">
        <div class="wrapper">
            <header th:replace="common/header :: header"></header>

            <!-- -->
            <div class="content-wrapper">

                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <!--div class="col-sm-6">
                                <h1>test1</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">test3</a></li>
                                    <li class="breadcrumb-item active">test</li>
                                </ol>
                            </div-->
                        </div>
                    </div>
                </section>

                <section class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Mis convocatorias</h3>
                                    </div>
                                    <div class="card-body">
                                        <table id="misConvocatorias" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>Organismo</th>
                                                <th>Convocatoria</th>
                                                <th>Escala/Especialidad</th>
                                                <th>Grupo</th>
                                                <th ></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="convocatoria: ${misConvocatorias}" style="cursor: pointer" 
                                            	th:attr="onclick=|rowClicked('${convocatoria.id}')|">
                                                <td th:text="${convocatoria.organismoDto.nombre}"></td>
                                                <td th:text="${convocatoria.nombre}" ></td>
                                                <td th:text="${convocatoria.especialidadDto.nombre}"></td>
                                                <td th:text="${convocatoria.especialidadDto.grupoDto.nombre}"></td>
                                                <td>
	                                                <div class="btn-group">
	                                                	<a href="solicitarAcceso" class="btn btn-info" role="button">Modificar</a>
	                                                	<a href="solicitarAcceso" class="btn btn-danger" role="button">Eliminar</a>
                                                	</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Otras convocatorias</h3>
                                    </div>
                                    <div class="card-body">
                                        <table id="otrasConvocatorias" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>Organismo</th>
                                                <th>Convocatoria</th>
                                                <th>Escala/Especialidad</th>
                                                <th>Grupo</th>
												<th ></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="convocatoria: ${otrasConvocatorias}">
                                                    <td th:text="${convocatoria.organismoDto.nombre}"></td>
                                                    <td th:text="${convocatoria.nombre}"></td>
                                                    <td th:text="${convocatoria.especialidadDto.nombre}"></td>
                                                    <td th:text="${convocatoria.especialidadDto.grupoDto.nombre}"></td>
	                                                <td>
	                                               		<a th:href="@{/solicitarAcceso(idConvo=${convocatoria.id})}" class="btn btn-info text-nowrap" role="button">Solicitar acceso</a>

<!--                                     					<form action="#" th:action="@{/solicitarAcceso}" th:object="${convocatoria}" method="post">
	                                                		<button type="submit" class="btn btn-info text-nowrap">Solicitar acceso</button>
                                                		</form>
-->
	                                                </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- configuracion tablas -->
        <script>
          $(function () {
            $('#misConvocatorias').DataTable({
              "paging": true,
              "lengthChange": false,
              "ordering": true,
              "autoWidth": false,
              "responsive": true,
              "pageLength": 5,
              "language": {"url": "/json/Spanish.json"},
            });
            $("#otrasConvocatorias").DataTable({
              "paging": true,
              "lengthChange": false,
              "ordering": true,
              "autoWidth": false,
              "responsive": true,
              "pageLength": 5,
              "language": {"url": "/json/Spanish.json"},
            });
          });

          function rowClicked(idConvocatoria) {
              location.href = "/convocatoria?id=" + idConvocatoria;
          }

         </script>

    </body>

</html>







