<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/head :: head">  <meta charset="utf-8">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg"><h1 class="text-center">SimuDest</h1></p>
            <p class="login-box-msg">Simulador de destinos de oposiciones </p>
            <p class="login-box-msg">
                <a href="quees" class="text-center m-auto mtop10" data-toggle="modal" data-target="#modalQuees">Saber más</a>
            </p>

            <form action="#" th:action="@{/login}" method="post">
                <div class="alert alert-danger" th:if="${loginError}">
                    <p>Usuario o contraseña incorrecta</p>
                </div>
                <div class="input-group mb-3">
                    <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="password" name="password" />

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="m-auto">
                        <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                    </div>
                </div>
                <div class="row">
                    <a href="registro" class="text-center m-auto mtop10">¿No tienes cuenta?</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modalQuees">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Que es SimuDest?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    SimuDest es un simulador de destinos para oposiciones totalmente gratuito y de código abierto.<br>
                    Aqui falta una explicación más detallada.<br>
                    Aqui falta una explicación más detallada.<br>
                    Aqui falta una explicación más detallada.<br>
                    Aqui falta una explicación más detallada.<br>
                </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>