body {

}

.mtop10{
    margin-top: 10px !important;
}

.mtop-15{
    margin-top: -15px !important;
}

.mbot0{
    margin-bottom: 0px !important;
}

.mright10{
    margin-right: 10px !important;
}

.float-right{
    float: right !important;
}

.nowrap{
    white-space : nowrap !important;
}

.orden-opositor-input{
    width: 100px !important;
    display: inline !important;
    vertical-align: middle !important;
}

.palabra-solicitar-input{
   width: 135px !important;
   display: inline !important;
   vertical-align: middle !important;
}

.link-gris {
  color: #6c757d;
}
.link-gris:hover, .link-secondary:focus {
  color: #565e64;
}


/* esconde las flechas de los input number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}