<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="common/head :: head">
    </head>


    <body class="layout-top-nav" style="height: auto;">
        <div class="wrapper">

            <header th:replace="common/header :: header"></header>

            <div class="content-wrapper">

                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <!--div class="col-sm-6">
                                <h1>test1</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">test3</a></li>
                                    <li class="breadcrumb-item active">test</li>
                                </ol>
                            </div-->
                        </div>
                    </div>
                </section>

                <section class="content">
                    <!--div class="container-fluid"-->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Convocatoria</h3>
                                    </div>

                                    <div class="card-body">
                                        <p th:text="${convocatoria.nombre}"></p>
                                        <p th:text="${convocatoria.organismoDto.nombre}"></p>
                                        <p th:text="${convocatoria.especialidadDto.nombre} + ' - ' + ${convocatoria.especialidadDto.grupoDto.nombre}"></p>
                                        <p><a th:href="@{/convocatoria/opositores(idConvo=${convocatoria.id})}" ><span th:text="${nopositoresActual} + ' de ' + ${convocatoria.nopositores}"></span></a> Opositores</p>
                                        <p><a th:href="@{/convocatoria/plazas(idConvo=${convocatoria.id})}" ><span th:text="${nplazasActual} + ' de ' + ${convocatoria.nplazas}"></span></a> Plazas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $("#grupo").change(function() {
                    onchangeGrupo();
                });
            });

            function onchangeGrupo(){
                var grupoSeleccionado = $("#grupo option:selected").val();
                $.getJSON( "/ajax/especialidades?grupo=" + grupoSeleccionado, function( data ) {
                    $("#especialidad").empty();
                    data.forEach(function(item, i) {
                        var option = "<option value = " + item.id + ">" + item.nombre +  "</option>";
                        $("#especialidad").append(option);
                    });
                });
            }
        </script>
    </body>

</html>







