<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head">
</head>


<body class="layout-top-nav" style="height: auto;">
<div class="wrapper">
    <header th:replace="common/header :: header"></header>

    <!-- -->
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a th:href="@{/convocatoria(id=${convocatoria.id})}" class="link-gris"><h1 class="" th:text="${convocatoria.nombre}"></h1></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Resultado de la simulación</h3>
                            </div>
                            <div class="card-body">
                                <table id="elecciones" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Orden</th>
                                        <th>Codigo Plaza</th>
                                        <th>Ministerio / Consejería</th>
                                        <th>Centro</th>
                                        <th>Provincia</th>
                                        <th>Localidad</th>
                                        <th>Puesto de trabajo</th>
                                        <th>Nivel</th>
                                        <th>C. Específico</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="eleccion: ${elecciones}"
                                        th:class="${(eleccion.color == T(com.simudest.simudest.configuration.Constantes).ELECCION_COLOR_VERDE ? 'bg-success' : '') +
                                                          (eleccion.color == T(com.simudest.simudest.configuration.Constantes).ELECCION_COLOR_ROJO ? 'bg-danger' : '') +
                                                          (eleccion.color == T(com.simudest.simudest.configuration.Constantes).ELECCION_COLOR_GRIS ? 'bg-gray disabled' : '')}">

                                        <td th:text="${eleccion.orden}"></td>
                                        <td th:text="${eleccion.plazaDto.codigo}"></td>
                                        <td th:text="${eleccion.plazaDto.ministerio}"></td>
                                        <td th:text="${eleccion.plazaDto.centro}"></td>
                                        <td th:text="${eleccion.plazaDto.provinciaDto.nombre}"></td>
                                        <td th:text="${eleccion.plazaDto.localidad}"></td>
                                        <td th:text="${eleccion.plazaDto.denominacion}"></td>
                                        <td th:text="${eleccion.plazaDto.nivel}"></td>
                                        <td th:text="${eleccion.plazaDto.c_especifico}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>

</html>







