<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head">
</head>


<body class="layout-top-nav" style="height: auto;">
<div class="wrapper">
    <header th:replace="common/header :: header"></header>

    <div class="content-wrapper">

        <section class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a th:href="@{/convocatoria(id=${convocatoria.id})}" class="link-gris"><h1 class="" th:text="${convocatoria.nombre}"></h1></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Selección de plazas</h3>
                            </div>
                            <div class="card-body">

                                <table id="seleccion" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Orden</th>
                                        <th>Plaza</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orden: ${#numbers.sequence(1, convocatoria.nopositores)}" style="cursor: pointer"
                                        th:attr="onclick=|rowClickedSeleccion('${orden}')|">
                                        <!--a href="#" class="btn btn-outline-secondary abre-modal-seleccion" th:attr="data-id=${orden}" data-toggle="modal" data-target="#modalPlazas"></a-->
                                        <td th:text="${orden}"></td>
                                        <td th:id="'seleccion_plaza_'+${orden}">Seleccionar plaza</td>
                                    </tr>
                                    <!--tr th:each="seleccion : ${elecciones}" style="cursor: pointer"
                                        th:attr="onclick=|rowClickedSeleccion('${seleccion.key}')|">
                                        <td th:text="${seleccion.key}"></td>
                                        <td th:text="${seleccion.value}"></td>
                                        <td th:id="'seleccion_plaza_'+${seleccion.key}">
                                            <tr th:each="plaza : ${seleccion.value}">
                                                <td th:text="${plaza.codigo}"></td>
                                                <td th:text="${plaza.ministerio}"></td>
                                                <td th:text="${plaza.centro}"></td>
                                                <td th:text="${plaza.provinciaDto}"></td>
                                                <td th:text="${plaza.localidad}"></td>
                                                <td th:text="${plaza.denominacion}"></td>
                                                <td th:text="${plaza.nivel}"></td>
                                                <td th:text="${plaza.c_especifico}"></td>
                                            </tr>
                                        </td>
                                    </tr-->
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalPlazas">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selecciona una plaza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="ordenseleccionado" id="ordenseleccionado" value=""/>
                <a href="#" onclick="eliminarSeleccion()" class="btn btn-danger" role="button">Eliminar selección</a>
                <table id="plazas" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Codigo Plaza</th>
                        <th>Ministerio / Consejería</th>
                        <th>Centro</th>
                        <th>Provincia</th>
                        <th>Localidad</th>
                        <th>Puesto de trabajo</th>
                        <th>Nivel</th>
                        <th>C. Específico</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plaza: ${plazas}" style="cursor: pointer"
                        th:attr="onclick=|rowClicked('${plaza.id}')|" th:id="'plaza_'+${plaza.id}">
                        <td th:text="${plaza.codigo}"></td>
                        <td th:text="${plaza.ministerio}"></td>
                        <td th:text="${plaza.centro}"></td>
                        <td th:text="${plaza.provinciaDto.nombre}"></td>
                        <td th:text="${plaza.localidad}"></td>
                        <td th:text="${plaza.denominacion}"></td>
                        <td th:text="${plaza.nivel}"></td>
                        <td th:text="${plaza.c_especifico}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
        /* configuracion tablas */

          $(function () {
            $('#seleccion').DataTable({
              "paging": false,
              "lengthChange": false,
              "ordering": true,
              "autoWidth": false,
              "responsive": true,
              "language": {"url": "/json/Spanish.json"},
            });
          });

          $(function () {
            $('#plazas').DataTable({
              "paging": true,
              "lengthChange": false,
              "ordering": true,
              "autoWidth": false,
              "responsive": true,
              "pageLength": 5,
              "language": {"url": "/json/Spanish.json"},
            });
          });
</script>

<script type="text/javascript" th:inline="javascript">

    /* abre el modal de seleccion de plaza */
    function rowClickedSeleccion(orden) {
              $(".modal-body #ordenseleccionado").val(orden);
              $('#modalPlazas').modal('show');
          }


    /* llamada ajax seleccion de plaza */
    function rowClicked(idPlaza) {
        var ordenseleccionado = $(".modal-body #ordenseleccionado").val();
        $.get( "/convocatoria/ajax/seleccionarPlaza?idPlaza=" + idPlaza + "&orden=" + ordenseleccionado, function( data ) {
            if (data != "OK"){
                alert(data);
            }else{
                ordenseleccionado = $(".modal-body #ordenseleccionado").val();
                $("#seleccion_plaza_"+ordenseleccionado).html($("#plaza_"+idPlaza).html());

            }
            $('#modalPlazas').modal('hide');
        });
    }


    /* rellena las plazas elegidas al cargar la pagina */
    $( document ).ready(function() {
        var listaElecciones = [[${elecciones}]]
        for (i = 0; i < Object.keys(listaElecciones).length; i++) {
            if (listaElecciones[i].plazaDto != null){
                $("#seleccion_plaza_"+listaElecciones[i].orden).html($("#plaza_"+listaElecciones[i].plazaDto.id).html());
            }
        }

    });


    /* Eliminar seleccion de plaza */
    function eliminarSeleccion(){
        var ordenseleccionado = $(".modal-body #ordenseleccionado").val();
        var idconvo = [[${convocatoria.id}]];

        $.get( "/convocatoria/ajax/eliminarSeleccion?idConvo=" + idconvo + "&orden=" + ordenseleccionado, function( data ) {
            if (data != "OK"){
                alert(data);
            }else{
                ordenseleccionado = $(".modal-body #ordenseleccionado").val();
                $("#seleccion_plaza_"+ordenseleccionado).html("Seleccionar plaza");
            }
            $('#modalPlazas').modal('hide');
        });
    }

</script>




</body>

</html>







